/* General Rules */

html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Main Navigator */

.not_visible {
    visibility: hidden;
    width: 100%;
    height: 3rem;
}

.main_navigator {
    background-color: rgba(0, 0, 0, 0.92);
    text-align: center;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.main_navigator ul {
    display: flex;
    justify-content: space-around;
}

.main_navigator li {
    list-style: none;
}

.main_navigator a {
    color: white;
}

.main_navigator a:hover {
    text-decoration: none;
    color: grey;
}

.apple_link {
    background-size: 16px 18px;
    background-repeat: no-repeat;
    background-image: url("apple_logo.svg");
    background-position: center center;
}

.search_link {
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-image: url("search_icon.svg");
    background-position: center center;
}

.bag_link {
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-image: url("bag_icon.svg");
    background-position: center center;
}

a.link_text {
    color: transparent;
}

a.link_text:hover {
    color: transparent;
}


/* Covid-19 section */

.covid_para {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: #0071e3;
    color: white;
    margin: 0;
}

.covid_para a {
    color: white;
}


/* Shop online */

.shop_online_para {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: rgb(245, 245, 247);
    color: rgb(29, 29, 31);
    margin: 0;
}

.shop_online_para a {
    color: rgb(0, 102, 204);
}

.main_container {
    width: 100%;
    height: 100%;
    background-color: yellow;
}